@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: normal;
  font-weight: 400;
}

body {
  background-color: var(--p-primary-color);
}
